@import "componenets/basic";
@import "componenets/nav";
@import "componenets/header";
@import "componenets/section";

section.carrito {
  .productos {
    margin-bottom: 100px;
  }
  article.producto {
    box-shadow: 0px 5px 10px rgba(black, .2);
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    
    .producto-imagen {
      width: 180px;
      height: 180px;
      img {
        object-fit: cover;
        width: 100%;
        // height: 180px;
      }
    }
    .producto-informacion {
      padding-right: 200px;
    }
    .producto-boton {
      margin-right: 50px;
      // img {
      // }
    }
    .producto-boton {
      width: 40px;
      height: 40px;
      img {
        width: 100%;
        &:hover {
          cursor: pointer;
          color: red;
        }
      }
    }
  }
  .total {
    width: 100%;
    height: 80px;
    box-shadow: 0px 5px 10px rgba(black, .2);
    display: grid;
    grid-template-columns: 70% 30%;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    .total-informacion {
      display: flex;
      // justify-content: center;
      align-items: center;
      h2 {
        padding-right:20px;
      }
    }
    button {
      background: $color-primary;
      border: none;
      color: white;
      padding: 10px 0;
    }
  }
}