@import "componenets/basic";
@import "componenets/nav";

header.header-confirmacion h2, section.confirmacion h2 {
  color: $color-primary;
  padding-bottom: 20px;
}
header.header-confirmacion h2::after, section.confirmacion h2::after {
  content: '';
  width: 200px;
  height: 10px;
  display: block;
  background: $color-primary;
  border-radius: 100px;
}
header.header-confirmacion, section.confirmacion {
  padding: 0px 80px;
}
header.header-confirmacion {
  padding-top: 80px;
}
section.confirmacion {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  .informacion, .imagen {
    width: 100%;
  }
  .informacion-cliente {
    padding-bottom: 15px;
    
  }
  img {
    width: 100%;
  }
}